{% load bootstrap %}

<input type="hidden" name="orcamentoId" value={{form.orcamentoId.value}}>
<input type="hidden" name="pessoaId">

<div class="container">
    <div class="row">
        <div class="col-12 col-md-3">
            <label class="control-label">Documento</label>
            <div class="input-group">
                <input type="text" id="documento" name="documento" class="form-control" value={{form.documento.value|default_if_none:""}}>
                <div class="input-group-btn">
                    <button type="button" id="buttonPesquisaPessoa" class="btn"
                        data-titulo="Pesquisa de Pessoa" data-url="{% url 'url_pessoa_pesquisa' %}">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9">
            {{ form.nome|bootstrap }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            {{ form.email|bootstrap }}
        </div>
        <div class="col-12 col-md-3">
            {{ form.fone|bootstrap }}
        </div>
        <div class="col-12 col-md-3">
            {{ form.status|bootstrap }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <label class="control-label">{{form.precificacaoId.field.label}}</label>
            <select id="precificacaoId" name="precificacaoId" class="form-control" required>
                <option value=""></option>
                {% for item in form.precificacaoId.field.choices %}
                <option value="{{ item.0 }}" {% if item.0 == form.precificacaoId.value %} selected {% endif %}>
                    {{ item.1 }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-12 col-md-3">
            {{ form.frete|bootstrap }}
        </div>
        <div class="col-12 col-md-3">
            {{ form.desconto|bootstrap }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form.observacao|bootstrap }}
        </div>
    </div>
</div>


<script>

        $(document).ready(function () {
            $('#pessoaId').blur(function () {
                var pessoaId = document.getElementById('pessoaId').value;
                var url = '{% url "url_pessoa_get" 0 %}'.replace('0', pessoaId);
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (data) {
                        $('#documento').val(data['cpf'] || data['cnpj']);
                        $('#id_nome').val(data['nome']);
                        $('#id_email').val(data['email']);
                        $('#id_fone').val(data['fone']);
                        $('#id_nome').focus();
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            });
        });

        $(document).ready(function () {
            $('#documento').blur(function () {
                var documento = document.getElementById('documento').value;
                var url = '{% url "url_pessoa_docto_get" 0 %}'.replace('0', documento);
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (data) {
                        $('#id_nome').val(data['nome']);
                        $('#id_email').val(data['email']);
                        $('#id_fone').val(data['fone']);
                        $('#id_nome').focus();
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            });
        });

        $(document).ready(function () {
            $('#buttonPesquisaPessoa').on('click', function () {
                $('#modalPadraoPesquisa').modal('show');
                var url = $(this).data("url");
                var titulo = $(this).data("titulo");
                $('#modalPadraoTitulo').text(titulo);
                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (data) {
                        $('#modalPadraoContent').html(data);
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });
        });

        $(document).ready(function () {
            $('#modalPadraoButton').on('click', function () {
                $('#modalPadraoPesquisa').modal('show');
                var url = $(this).data("url");
                var titulo = $(this).data("titulo");
                $('#modalPadraoTitulo').text(titulo);
                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (data) {
                        $('#modalPadraoContent').html(data);
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });
        });           
</script>

