{% extends "core/base.html" %}
{% load bootstrap %}
{% load static %}
{% block title %} Cotação {% endblock %}

{% block content %}
<form method="post">

    {% csrf_token %}

    <input type="hidden" name="usuarioId" value={{ form.usuarioId.value }}>

    <fieldset>

        <div class="card">
            <div class="card-header">
                <h3>Cotação de Preços</h3>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-12 col-md-2">
                        <label class="control-label">Código</label>
                        <input type="number" disabled="disabled" class="form-control" value={{ form.id.value }}>
                    </div>
                    <div class="col-12 col-md-2">
                        {{ form.created_dt|bootstrap }}
                    </div>
                    <div class="col-12 col-md-2">
                        {{ form.usuario|bootstrap }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form.descricao|bootstrap }}
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Descrição do Item</th>
                                <th>NCM</th>
                                <th>Quantidade</th>
                                <th>Preço</th>
                                <th width="90"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.descricao|default_if_none:"" }}</td>
                                <td>{{ item.ncm|default_if_none:"" }}</td>
                                <td>{{ item.quantidade|floatformat:2 }}</td>
                                <td>{{ item.preco|floatformat:2 }}</td>
                                <td>

                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6"><span>sem registros</span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% include "core/paginacao.html" %}

                </div>

            </div>

        </div>
    </fieldset>

    <br />

    <div class="footer">
        <button type="submit" value="btn_salvar" name="btn_salvar" class="btn btn-primary">
            <i class="fas fa-save"></i> Salvar
        </button>
        {% if form.id.value %}
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalFormItem">Adicionar Item</button>
        <button type="button" class="btn btn-secondary" disabled>Importar Produto</button>
        {% endif %}
    </div>

</form>

{% include 'compra/cotacao_item.html' %}

{% endblock %}

