{% load bootstrap %}

<input type="hidden" name="cotacaoItemId" value={{form.cotacaoItemId.value}}>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-2">
            <label class="control-label">Produto</label>
            <div class="input-group">
                <input type="number" id="produtoId" class="form-control" value={{form.produtoId.value}}>
                <div class="input-group-btn">
                    <button type="button" id="modalPadraoButton" class="btn"
                        data-titulo="Pesquisa de Produto" data-url="{% url 'url_produto_pesquisa' %}">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-10">
            {{ form.descricaoItem|bootstrap }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            {{ form.ncm|bootstrap }}
        </div>
        <div class="col-12 col-md-4">
            {{ form.unidade|bootstrap }}
        </div>
        <div class="col-12 col-md-4">
            {{ form.quantidade|bootstrap }}
        </div>
    </div>

    {% if form.precos %}

    <input type="hidden" name="qtde" value="{{form.precos|length}}">

    <table id="precos" name="precos" class="table table-sm">
        <thead>
            <div class="col text-white bg-dark">
                <span>Tomada de Preços</span>
            </div>
            <tr>
                <th style="width: 40%;">Nome do Fornecedor</th>
                <th>Quantidade</th>
                <th>Pr.Unitário R$</th>
                <th>IPI %</th>
                <th>Custo R$</th>
            </tr>
        </thead>
        <tbody>
            {% for item in form.precos %}
            <tr>
                <input type="hidden" name="cotacaoPrecoId_{{forloop.counter}}" value="{{item.cotacaoPrecoId}}">
                <td>
                    <input type="text" disabled="disabled" class="form-control" value={{item.nome}}>
                </td>
                <td>
                    <input type="number" class="form-control" name="quantidade_{{forloop.counter}}"
                        value={{item.quantidade}} min="{{form.quantidade.value}}" step="1">
                </td>
                <td>
                    <input type="number" class="form-control" name="preco_{{forloop.counter}}" value={{item.preco}}
                        step="0.01">
                </td>
                <td>
                    <input type="number" class="form-control" name="ipi_{{forloop.counter}}" value={{item.ipi}}
                        step="0.01">
                </td>
                <td>
                    <input type="number" disabled="disabled" class="form-control" value={{item.precoCusto}} step="0.01">
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {%endif%}

</div>

<script>
    $(document).ready(function () {
        $('#produtoId').blur(function () {
            var produtoId = document.getElementById('produtoId').value;
            var url = '{% url "url_produto_get" 0 %}'.replace('0', produtoId);
            $.ajax({
                url: url,
                type: 'GET',  // Ou 'POST' dependendo da sua necessidade
                success: function (data) {
                    $('#id_descricaoItem').val(data['descricao']);
                    $('#id_ncm').val(data['ncm']);
                    $('#id_unidade').val(data['unidade']);
                    $('#id_quantidade').focus();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });

    $(document).ready(function () {
        $('#modalPadraoButton').on('click', function () {
            $('#modalPadraoPesquisa').modal('show');
            var url = $(this).data("url");
            var titulo = $(this).data("titulo");
            $('#modalPadraoTitulo').text(titulo);
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    $('#modalPadraoContent').html(data);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });    
</script>