{% extends "core/base.html" %}
{% load bootstrap %}
{% load static %}
{% block title %} Cotação {% endblock %}

{% block content %}
<form method="post">

    {% csrf_token %}

    <input type="hidden" name="usuarioId" value={{form.usuarioId.value}}>

    <fieldset>

        <div class="card">
            <div class="card-header">
                <h3>Cotação de Preços</h3>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-12 col-md-2">
                        <label class="control-label">Código</label>
                        <input type="number" name="cotacaoId" id="cotacaoId" disabled="disabled" class="form-control" value={{ form.cotacaoId.value }}>                        
                    </div>
                    <div class="col-12 col-md-2">
                        {{ form.created_dt|bootstrap }}
                    </div>
                    <div class="col-12 col-md-2">
                        {{ form.usuario|bootstrap }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form.descricao|bootstrap }}
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Descrição do Item</th>
                                <th>NCM</th>
                                <th>Unidade</th>
                                <th>Quantidade</th>
                                <th>Preço</th>
                                <th width="90"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in form.items %}
                            <tr>
                                <td>{{ item.cotacaoItemId }}</td>
                                <td>{{ item.descricaoItem|default_if_none:"" }}</td>
                                <td>{{ item.ncm|default_if_none:"" }}</td>
                                <td>{{ item.unidade|default_if_none:"" }}</td>
                                <td>{{ item.quantidade|floatformat:2 }}</td>
                                <td>{{ item.preco|floatformat:2 }}</td>
                                <td>
                                    <a href="#" class="editar-item" data-item-id="{{ item.cotacaoItemId }}">
                                        <button type="button" class="btn btn-sm" title="editar"> <i class="fas fa-edit"></i> </button>
                                    </a>
                                    <a href="{% url 'url_cotacao_remove_item' form.cotacaoId.value item.cotacaoItemId %}">
                                        <button type="button" onClick='return confirma("EXCLUIR o item: {{item.descricaoItem}} ?")' class="btn btn-sm" title="excluir"> <i class="fas fa-trash"></i> </button>
                                    </a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6"><span>sem registros</span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% include "core/paginacao.html" %}

                </div>

                {% if form.orcamentos %}
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr colspan="6">
                                <h4 class="bg-dark text-white">Lista de Orçamentos</h4>
                            </tr>
                            <tr>
                                <th>#</th>
                                <th>Nome do Fornecedor</th>
                                <th>Fone</th>
                                <th>Frete R$</th>
                                <th>Desconto R$</th>
                                <th width="90"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in form.orcamentos %}
                            <tr>
                                <td>{{ item.orcamentoId }}</td>
                                <td>{{ item.nome|default_if_none:"" }}</td>
                                <td>{{ item.fone|default_if_none:"" }}</td>
                                <td>{{ item.frete|floatformat:2 }}</td>
                                <td>{{ item.desconto|floatformat:2 }}</td>
                                <td>
                                    <a href="#" class="editar-orcamento" data-item-id="{{ item.orcamentoId }}">
                                        <button type="button" class="btn btn-sm" title="editar"> <i class="fas fa-edit"></i> </button>
                                    </a>
                                    <a href="{% url 'url_cotacao_remove_orcamento' form.cotacaoId.value item.orcamentoId %}">
                                        <button type="button" onClick='return confirma("EXCLUIR o orçamento {{item.orcamentoId}} ?")' class="btn btn-sm" title="excluir"> <i class="fas fa-trash"></i> </button>
                                    </a>                                    
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6"><span>sem registros</span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
    
                </div>    
                {% endif %} 

            </div>

        </div>
    </fieldset>

    <br />

    <div class="footer">
        <button type="submit" value="btn_salvar" name="btn_salvar" class="btn btn-primary">
            <i class="fas fa-save"></i> Salvar
        </button>

        {% if form.cotacaoId.value %}
        <button type="button" id="openModalProduto" class="btn btn-secondary">
            <i class="fas fa-cubes"></i> <span class="d-none d-md-inline">Add Item</span>
        </button>

        <button type="button" id="openModalOrcamento" class="btn btn-secondary">
            <i class="fa fa-university"></i> <span class="d-none d-md-inline">Add Orçamento</span>
        </button>

        <button type="button" class="btn btn-secondary" disabled>Importar Produto</button>
        {% endif %}
        
    </div>

    {% include "compra/cotacao_item_modal.html" %}

    {% include "compra/cotacao_orcamento_modal.html" %}

</form>

<script>

    $(document).ready(function () {
        $('.editar-item').click(function (e) {
            $('#modalProduto').modal('show');
            e.preventDefault();
            var item_id = $(this).data('item-id');
            var url = '{% url "url_cotacaoitem_edit" 0 %}'.replace('0', item_id);
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    $('#modalContent').html(data);
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        });
    });

    $(document).ready(function () {
        $('#openModalProduto').on('click', function () {
            $('#modalProduto').modal('show');
            var cotacaoId = document.getElementById('cotacaoId').value;
            var url = '{% url "url_cotacaoitem_add" 0 %}'.replace('0', cotacaoId);
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    $('#modalContent').html(data);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });


    $(document).ready(function () {
        $('.editar-orcamento').click(function (e) {
            $('#modalOrcamento').modal('show');
            e.preventDefault();
            var item_id = $(this).data('item-id');
            var url = '{% url "url_orcamento_edit" 0 %}'.replace('0', item_id);
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    $('#modalContentOrcamento').html(data);
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        });
    });        


    $(document).ready(function () {
        $('#openModalOrcamento').on('click', function () {
            $('#modalOrcamento').modal('show');
            var cotacaoId = document.getElementById('cotacaoId').value;
            var url = '{% url "url_orcamento_add" 0 %}'.replace('0', cotacaoId);
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    $('#modalContentOrcamento').html(data);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });    

</script>

{% endblock %}