{% load bootstrap %}

<input type="hidden" name="cotacaoItemId" value={{form.cotacaoItemId.value}}>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-2">
            {{ form.cotacaoItemId|bootstrap }}
        </div>
        <div class="col-12 col-md-10">
            {{ form.descricaoItem|bootstrap }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            {{ form.ncm|bootstrap }}
        </div>
        <div class="col-12 col-md-4">
            {{ form.unidade|bootstrap }}
        </div>
        <div class="col-12 col-md-4">
            {{ form.quantidade|bootstrap }}
        </div>
    </div>

    {% if form.precos %}
    <table id="precos" name="precos" class="table table-sm">
        <thead>
            <div class="col text-white bg-dark">
                <span>Tomada de Preços</span>
            </div>
            <tr>
                <th>Nome do Fornecedor</th>
                <th>Pr.Unitário R$</th>
                <th>IPI %</th>
            </tr>
        </thead>
        <tbody>
            {% for item in form.precos %}
            <tr>
                <td>
                    <input type="text" disabled="disabled" class="form-control" value={{item.nome}}>
                </td>
                <td>
                    <input type="number" class="form-control" name="tomada_{{item.orcamentoId}}_preco"
                        value={{item.preco}}>
                </td>
                <td>
                    <input type="number" class="form-control" name="tomada_{{item.orcamentoId}}_ipi" value={{item.ipi}}>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {%endif%}

</div>