{% load bootstrap %}
{% load static %}

<div class="row">
    <div class="col-12 col-md-2">
        {{ form.cep|bootstrap }}
    </div>
    <div class="col-12 col-md-2">
        <label class="control-label">Estado</label>
        <select id="estado-select" class="form-control">
            <option value="">Selecione a UF</option>
            {% for uf in ufs %}
                <option value="{{ uf.0 }}">{{ uf.1 }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-12 col-md-8">
        <label class="control-label">Município</label>
        <select id="municipio-select" class="form-control">
            <option value="">Selecione o município</option>
        </select>
    </div>

    <div class="col-12 col-md-6">
        {{ form.logradouro|bootstrap }}
    </div>
    <div class="col-12 col-md-2">
        {{ form.numero|bootstrap }}
    </div>
    <div class="col-12 col-md-4">
        {{ form.bairro|bootstrap }}
    </div>

    <div class="col-12 col-md-4">
        <label class="control-label">Complemento</label>
        <input type="number" class="form-control">
    </div>
    <div class="col-12 col-md-8">
        <label class="control-label">Ponto de Referência</label>
        <input type="number" class="form-control">
    </div>

</div>


<script>
    $('#estado-select').on('change', function()
    {
        uf = this.value;
        $.ajax({
            url: '/get_municipios/',
            type: 'GET',
            data: {'uf': uf},
            success: function(data) {
                var municipioSelect = $('#municipio-select');
                municipioSelect.empty();
                $.each(data, function(key, value) {
                    municipioSelect.append($('<option>').text(value).attr('value', key));
                });
            }
        });

    });
</script>