{% load bootstrap %}
{% load static %}

<div class="row">
    <div class="col-12 col-md-2">
        <label class="control-label">CEP</label>
        <input type="number" class="form-control">
    </div>
    <div class="col-12 col-md-2">
        {{ form.uf|bootstrap }}
    </div>
    <div class="col-12 col-md-8">
        <label class="control-label">Município</label>
        <input type="number" class="form-control">
    </div>

    <div class="col-12 col-md-6">
        <label class="control-label">Logradouro</label>
        <input type="number" class="form-control">
    </div>
    <div class="col-12 col-md-2">
        <label class="control-label">Número</label>
        <input type="number" class="form-control">
    </div>
    <div class="col-12 col-md-4">
        <label class="control-label">Bairro</label>
        <input type="number" class="form-control">
    </div>

    <div class="col-12 col-md-4">
        <label class="control-label">Complemento</label>
        <input type="number" class="form-control">
    </div>
    <div class="col-12 col-md-8">
        <label class="control-label">Ponto de Referência</label>
        <input type="number" class="form-control">
    </div>

</div>