{% extends "core/base.html" %}
{% load bootstrap %}
{% load static %}
{% block title %} Pessoa {% endblock %}
{% block content %}

<div class="container">
    <form method="post">

        {% csrf_token %}

        <div class="card">
            <div class="card-header">
                <h2>Cadastro de Pessoa</h2>
            </div>
            <div class="card-body">
                {{ form|bootstrap }}
            </div>
        </div>

        <div class="footer bgred">
            <button type="submit" value="btn_novo" name="btn_novo" class="btn btn-secondary">
                <i class="fa fa-file"></i> Novo
            </button>
            <button type="submit" value="btn_salvar" name="btn_salvar" class="btn btn-success">
                <i class="fas fa-save"></i> Salvar
            </button>
        </div>

    </form>
</div>

{% endblock %}