<script>

</script>

{% extends "core/base.html" %}
{% load bootstrap %}
{% load static %}
{% block title %} Pessoa {% endblock %}

{% block content %}

<div class="container">
    <form method="post">

        {% csrf_token %}

        <div class="card">
            <div class="card-header">
                <h3>Cadastro de Pessoa</h3>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-12 col-md-2">
                        {{ form.uuid|bootstrap }}
                    </div>
                    <div class="col-12 col-md-10">
                        {{ form.nome|bootstrap }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-3">
                        {{ form.fone|bootstrap }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form.email|bootstrap }}
                    </div>
                    <div class="col-12 col-md-3">
                        <label>Tipo de Pessoa</label>
                        <select name="tipoPessoa" id="tipoPessoa" class="form-control" onchange="selecionaTipoChange(this)">
                            {% for choice in form.tipoPessoa.field.choices %}
                                <option value="{{ choice.0 }}" {% if choice.0 == tipo_selected %} selected {% endif %}>{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row" id="fisica">
                    <div class="col-12 col-md-4">
                        {{ form.cpf|bootstrap }}
                    </div>
                    <div class="col-12 col-md-4">
                        {{ form.identidade|bootstrap }}
                    </div>
                    <div class="col-12 col-md-4">
                        {{ form.orgao|bootstrap }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form.pai|bootstrap }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form.mae|bootstrap }}
                    </div>
                </div>

                <div class="row" id="juridica">
                    <h2>Pessoa JURIDICA</h2>
                </div>

            </div>
        </div>

        <div class="footer bg-red">
            <button type="submit" value="btn_novo" name="btn_novo" class="btn btn-secondary">
                <i class="fa fa-file"></i> Novo
            </button>
            <button type="submit" value="btn_salvar" name="btn_salvar" class="btn btn-success">
                <i class="fas fa-save"></i> Salvar
            </button>
        </div>

    </form>
</div>

<script>

    document.addEventListener('DOMContentLoaded', function() {
        var sel = document.getElementById('tipoPessoa');
        selecionaTipoChange(sel);
    });

    function selecionaTipoChange(sel) {

        var element_fisica = document.getElementById('fisica');
        element_fisica.style.display = sel.value == 'FISICA' ? 'flex' : 'none';

        var element_juridica = document.getElementById('juridica');
        element_juridica.style.display = sel.value == 'JURIDICA' ? 'flex' : 'none';

    }

</script>

{% endblock %}