{% extends "core/base.html" %}
{% load bootstrap %}

{% block title %} Pessoa {% endblock %}
{% block content %}

<form method="post">

    <input type="hidden" name="clienteId" value={{ form.clienteId.value }}>
    <input type="hidden" name="vendedorId" value={{ form.vendedorId.value }}>
    <input type="hidden" name="transportadorId" value={{ form.transportadorId.value }}>
    <input type="hidden" name="fornecedorId" value={{ form.fornecedorId.value }}>
    <input type="hidden" name="situacaoPessoa" value={{ form.situacaoPessoa.value }}>

    {% csrf_token %}

    <fieldset {% if not form.situacaoPessoa.value %} disabled {% endif %}>

        <div class="card">
            <div class="card-header">
                <h3>Cadastro de Pessoa</h3>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-12 col-md-2">
                        <label class="control-label">Código</label>
                        <input type="number" disabled="disabled" class="form-control" value={{form.pessoaId.value}}>
                    </div>
                    <div class="col-12 col-md-10">
                        {{ form.nome|bootstrap }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-3">
                        {{ form.fone|bootstrap }}
                    </div>
                    <div class="col-12 col-md-7">
                        {{ form.email|bootstrap }}
                    </div>
                    <div class="col-12 col-md-2">
                        <label>Tipo de Pessoa</label>
                        <select name="tipoPessoa" id="tipoPessoa" class="form-control"
                            onchange="selecionaTipoChange(this)">
                            {% for choice in form.tipoPessoa.field.choices %}
                            <option value="{{ choice.0 }}" {% if choice.0 == tipo_selected %} selected {% endif %}>
                                {{ choice.1 }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row" id="fisica">

                    <div class="col-12 col-md-2">
                        {{ form.cpf|bootstrap }}
                    </div>
                    <div class="col-12 col-md-2">
                        {{ form.identidade|bootstrap }}
                    </div>
                    <div class="col-12 col-md-3">
                        {{ form.emissao|bootstrap }}
                    </div>
                    <div class="col-12 col-md-2">
                        {{ form.orgao|bootstrap }}
                    </div>
                    <div class="col-12 col-md-3">
                        {{ form.idEstrangeiro|bootstrap }}
                    </div>

                    <div class="col-12 col-md-2">
                        {{ form.nascimento|bootstrap }}
                    </div>
                    <div class="col-12 col-md-5">
                        {{ form.pai|bootstrap }}
                    </div>
                    <div class="col-12 col-md-5">
                        {{ form.mae|bootstrap }}
                    </div>

                    <div class="col-12 col-md-6">
                        {{ form.nacionalidade|bootstrap }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form.naturalidade|bootstrap }}
                    </div>

                </div>

                <div class="row" id="juridica">
                    <div class="col-12 col-md-4">
                        {{ form.cnpj|bootstrap }}
                    </div>
                    <div class="col-12 col-md-8">
                        {{ form.fantasia|bootstrap }}
                    </div>
                    <div class="col-12 col-md-3">
                        {{ form.IE|bootstrap }}
                    </div>
                    <div class="col-12 col-md-3">
                        {{ form.cnae|bootstrap }}
                    </div>
                    <div class="col-12 col-md-3">
                        {{ form.fundacao|bootstrap }}
                    </div>
                    <div class="col-12 col-md-3">
                        {{ form.incentivoCultural|bootstrap }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form.regime|bootstrap }}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form.tipoIE|bootstrap }}
                    </div>
                </div>

                {% include 'pessoa\endereco_edit.html' %}

            </div>
        </div>

    </fieldset>

    <br />

    <div class="footer">
        {% if form.situacaoPessoa.value %}
        <button type="submit" value="btn_salvar" name="btn_salvar" class="btn btn-primary">
            <i class="fas fa-save"></i> <span class="d-none d-md-inline">Salvar</span>
        </button>
        {% endif %}

        <a href="{% url 'url_pessoa_add' %}">
            <button type="button" class="btn btn-secondary"> <i class="fa fa-plus"></i>  
                <span class="d-none d-md-inline">Novo</span>
            </button>
        </a>
        <a href="{% url 'url_pessoa_list' %}">
            <button type="button" class="btn btn-secondary"> <i class="fas fa-list"></i>  
                <span class="d-none d-md-inline">Lista</span>
            </button>
        </a>

        {% if form.existe %}
        {% endif %}
        
        {% if form.existe %}
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog"></i> <span class="d-none d-md-inline">Opções</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#" onClick='return confirma("Confirma {%if form.situacaoPessoa.value%} Inativar {%else%} Ativar {%endif%} o registro atual?")'>
                        <i class="fas fa-check"></i> {%if form.situacaoPessoa.value%} Inativar {%else%} Ativar {%endif%}
                    </a>            
                    <a class="dropdown-item" href="{% url 'url_pessoa_cliente' form.pessoaId.value %}">
                        <i class="fas fa-user"></i> Cliente
                    </a>
                    <a class="dropdown-item" href="{% url 'url_pessoa_fornecedor' form.pessoaId.value %}">
                        <i class="fas fa-building"></i> Fornecedor
                    </a>
                    <a class="dropdown-item" href="{% url 'url_pessoa_transportador' form.pessoaId.value %}">
                        <i class="fas fa-car"></i> Transportador
                    </a>
                    <a class="dropdown-item" href="{% url 'url_pessoa_vendedor' form.pessoaId.value %}">
                        <i class="fa fa-id-card"></i> Vendedor
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

    </div>

</form>


<script>

    document.addEventListener('DOMContentLoaded', function () {
        var sel = document.getElementById('tipoPessoa');
        selecionaTipoChange(sel);
    });

    function selecionaTipoChange(sel) {

        var element_fisica = document.getElementById('fisica');
        element_fisica.style.display = sel.value == 'FISICA' ? 'flex' : 'none';

        var element_juridica = document.getElementById('juridica');
        element_juridica.style.display = sel.value == 'JURIDICA' ? 'flex' : 'none';

        //document.getElementById('id_tipoPessoa') = sel.value;

    }


</script>

{% endblock %}