{% extends "core/base.html" %}
{% load bootstrap %}
{% load static %}
{% block title %} Cliente {% endblock %}

{% block content %}
<div class="container">
    <form method="post">

        {% csrf_token %}

        {{ form.situacaoTransportador.value }}

        <input type="hidden" name="transportadorId" value={{ form.transportadorId.value }}>
        <input type="hidden" name="pessoaId" value={{ form.pessoaId.value }}>
        <input type="hidden" name="situacaoTransportador" value={{ form.situacaoTransportador.value }}>

        <fieldset {% if not form.situacaoTransportador.value %} disabled {% endif %}>

            <div class="card">
                <div class="card-header">
                    <h3>Cadastro de Transportador</h3>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-12 col-md-2">
                            <label class="control-label">Código</label>
                            <input type="number" disabled="disabled" class="form-control" value={{
                                   form.transportadorId.value }}>
                        </div>
                        <div class="col-12 col-md-10">
                            {{ form.nome|bootstrap }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-3">
                            {{ form.fone|bootstrap }}
                        </div>
                        <div class="col-12 col-md-9">
                            {{ form.email|bootstrap }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-3">
                            {{ form.codigoRNTRC|bootstrap }}
                        </div>
                        <div class="col-12 col-md-9">
                            {{ form.tipoProprietario|bootstrap }}
                        </div>
                    </div>

                </div>
            </div>

        </fieldset>

        <div class="footer bg-red">

            {% if form.situacaoTransportador.value %}
            <button type="submit" value="btn_salvar" name="btn_salvar" class="btn btn-success">
                <i class="fas fa-save"></i> Salvar
            </button>
            {% endif %}

            <button type="submit" value="btn_pessoa" name="btn_pessoa" class="btn btn-secondary">
                <i class="fas fa-user"></i> Voltar
            </button>

            {% if form.existe %}
            <button type="submit" value="btn_ativar" name="btn_ativar" class="btn btn-danger"
                    onClick='return confirma("Confirma {%if form.situacaoTransportador.value%} Inativar {%else%} Ativar {%endif%} o registro atual?")'>
                <i class="fas fa-check"></i> {%if form.situacaoTransportador.value%} Inativar {%else%} Ativar {%endif%}
            </button>
            {% endif %}

        </div>

    </form>
</div>
{% endblock %}