{% extends "core/base.html" %}

{% load bootstrap %}

{% load static %}

{% block title %} Login {% endblock %}
{% block content %}

<div class="container">
    <form method="post">

        {% csrf_token %}

        <div class="card" style="width:300px; margin-top:2%">
            <div class="card-body bg-">
                {{ form|bootstrap }}
                <button type="submit" class="btn btn-primary btn-md">Acessar Sistema</button>
            </div>
        </div>

    </form>
</div>

{% endblock %}