{% extends "core/base.html" %}
{% load bootstrap %}
{% load static %}
{% block title %} Login {% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}

    <div class="card">
        <div class="card-header">
            <h3>ÁREA DE TESTE</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-2">
                    <label class="control-label">Código</label>
                    <input id="produtoId" type="number" class="form-control">
                </div>
                <div class="col-12 col-md-10">
                    <label class="control-label">Descrição</label>
                    <input id="descricao" type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>

    <button type="button" id="modalPadraoButton" class="btn btn-secondary" data-titulo="Pesquisa de Produto"
        data-url="{% url 'url_produto_pesquisa' %}">
        <i class="fas fa-search"></i> <span class="d-none d-md-inline">Produto</span>
    </button>

</form>

<script>

    $(document).ready(function () {
        $('#produtoId').blur(function () {
            var produtoId = document.getElementById('produtoId').value;
            var url = '{% url "url_produto_get" 0 %}'.replace('0', produtoId);            
            $.ajax({
                url: url,
                type: 'GET',  // Ou 'POST' dependendo da sua necessidade
                success: function (data) {
                    $('#descricao').val(data['descricao']);
                    // Manipule a resposta da solicitação AJAX aqui
                    // console.log(data);
                },
                error: function (xhr, status, error) {
                    // Lidar com erros, se houver
                    console.log(error);
                }
            });
        });
    });

    $(document).ready(function () {
        $('#modalPadraoButton').on('click', function () {
            $('#modalPadraoPesquisa').modal('show');
            var url = $(this).data("url");
            var titulo = $(this).data("titulo");
            $('#modalPadraoTitulo').text(titulo);
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    $('#modalPadraoContent').html(data);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });

</script>

{% endblock %}