{% extends "core/base.html" %}
{% load bootstrap %}
{% load static %}
{% block title %} CDD {% endblock %}

{% block content %}
<form method="post">

    {% csrf_token %}

    <div class="card">
        <div class="card-header">
            <h3>Centro de Distribuição</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-2">
                    <label class="control-label">Código</label>
                    <input type="number" disabled="disabled" class="form-control" value={{form.id.value}}>
                </div>
                <div class="col-12 col-md-7"></div>
                <div class="col-12 col-md-3">
                    <label class="control-label">{{form.ativo.label}}</label>
                    <select id="ativo" name="ativo" class="form-control" required>
                        {% for item in form.ativo.field.choices %}
                        <option value="{{ item.0 }}" {% if item.0 == form.ativo.value %} selected {% endif %}>
                            {{ item.1 }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form.descricao|bootstrap }}
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <button type="submit" value="btn_salvar" name="btn_salvar" class="btn btn-primary">
            <i class="fas fa-save"></i> Salvar
        </button>
        <a href="{% url 'url_distribuicao_add' %}">
            <button type="button" class="btn btn-secondary"> <i class="fas fa-plus"></i> Novo </button>
        </a>
        <a href="{% url 'url_distribuicao_list' %}">
            <button type="button" class="btn btn-secondary"> <i class="fas fa-list"></i> Lista </button>
        </a>
    </div>

</form>
{% endblock %}