<!doctype html>
{% load static %}


{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-**********" crossorigin="anonymous" />

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title> {% block title %} Sousa {% endblock %} </title>

    <script>
        function confirma(pergunta) {
            var agree = confirm(pergunta);
            if (agree)
                return true;
            else
                return false;
        }

        $(document).ready(function () {
        $('#modalPadraoButton').on('click', function () {
            $('#modalPadraoPesquisa').modal('show');
            var url = $(this).data("url");
            var titulo = $(this).data("titulo");
            $('#modalPadraoTitulo').text(titulo);
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    $('#modalPadraoContent').html(data);
                    $('#modalContent').html(data);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });

    </script>

    <style>
        .footer {
            position: fixed;
            bottom: 10px;
            /* height: 60px; */
            background-color: whitesmoke;
            padding: 0px;
        }
    </style>

</head>

<body>

    <div class="modal fade" tabindex="-1" role="dialog" id="modalPadraoPesquisa">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalPadraoTitulo" />
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalPadraoContent"> </div>
                <div class="modal-footer">
                    <button id="fechar" type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" name="pesquisaRetornoValor">

    <div class="container">
        {% include 'core/messages.html' %}
        <div id="content">
            {% if username %}
            {% include 'core/menu.html' %}
            {% endif %}
            <div style="margin-top: 10px">
                {% block content %} {% endblock %}
            </div>
        </div>

        <div class="footer">
            {% block botoes %}{% endblock %}
        </div>

    </div>

</body>

</html>