{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">

    <div class="container">

        <h2 style="color: white">Sistema</h2>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <a class="nav-link" href="{% url 'url_pessoa_list' %}">Pessoa</a>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'url_produto_list' %}">Produto</a>
                </li>
            </ul>
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </div>

    </div>
</nav>
