{% extends "core/base.html" %}
{% load bootstrap %}
{% load static %}
{% block title %} Forma de Pagamento {% endblock %}

{% block content %}
<form method="post">

    {% csrf_token %}

    <div class="card">
        <div class="card-header">
            <h3>Forma de Pagamento</h3>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-12 col-md-2">
                    <label class="control-label">Código</label>
                    <input type="number" disabled="disabled" class="form-control" value={{form.id.value}}>
                </div>
                <div class="col">
                    {{ form.descricao|bootstrap }}
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    {{ form.parcelas|bootstrap }}
                </div>
                <div class="col">
                    <label class="control-label">{{form.tipoPagamento.label}}</label>
                    <select id="tipoPagamento" name="tipoPagamento" class="form-control" required>
                        <!-- <option value="">Selecione</option> -->
                        {% for item in form.tipoPagamento.field.choices %}
                            <option value="{{ item.0 }}" {% if item.0 == form.tipoPagamento.value %} selected {% endif %} >
                                {{ item.1 }}
                            </option>
                        {% endfor %}
                    </select>
                </div>    
            </div>            

            <div class="row">
                <div class="col-12 col-md-4">
                    {{ form.prazoMedio|bootstrap }}
                </div>
                <div class="col-12 col-md-4">
                    {{ form.descontoMaximo|bootstrap }}
                </div>
                <div class="col-12 col-md-4">
                    {{ form.valorMinimo|bootstrap }}
                </div>                
            </div>

        </div>
    </div>

    <div class="footer">
        <button type="submit" value="btn_salvar" name="btn_salvar" class="btn btn-primary">
            <i class="fas fa-save"></i> Salvar
        </button>
        <a href="{% url 'url_formapgto_add' %}">
            <button type="button" class="btn btn-secondary"> <i class="fas fa-plus"></i> Novo </button>
        </a>
        <a href="{% url 'url_formapgto_list' %}">
            <button type="button" class="btn btn-secondary"> <i class="fas fa-list"></i> Lista </button>
        </a>
    </div>

</form>
{% endblock %}