{% extends "core/base.html" %}
{% load bootstrap %}
{% load static %}
{% block title %} Caixa {% endblock %}

{% block content %}
<form method="post">

    {% csrf_token %}

    <!-- <div class="card-body">
        <h4 class="bg-dark text-white">Dados Nominais</h4>
        <div class="card-body">

            <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" id="nominal" placeholder="Nome (cliente / fornecedor)"
                    name="nominal">
                <label for="nominal">Nome (cliente / fornecedor)</label>
            </div>

        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary">
                <i class="fas fa-person"></i>Pessoa
            </button>
        </div>
    </div> -->


    <!-- <div class="row">
        <div class="col-12 col-md-6">
        </div>
        <div class="col-12 col-md-6">
            <div class="card-body">
                <h4 class="bg-dark text-white">Meios de Pagamentos</h4>
                <div class="card-body">


                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="row">
        <div class="card-body">
            <h4 class="bg-dark text-white">Titulos</h4>
            <div class="card-body">


            </div>
        </div>
    </div> -->

    <div class="footer">

        <button type="button" id="modalTituloButton" class="btn btn-secondary" data-titulo="Títulos a Pagar"
            data-url="{% url 'url_titulo_pesquisa' %}?tipoMovimento=PAGAR">
            <i class="fa-solid fa-file-circle-plus"></i><span class="d-none d-md-inline">Título</span>
        </button>

        <button type="button" class="btn btn-secondary">
            <i class="fa-solid fa-user-plus"></i><span class="d-none d-md-inline">Participante</span>
        </button>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-coins"></i><span class="d-none d-md-inline">Pagamento</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <button class="dropdown-item">
                        <i class="fa-solid fa-sack-dollar"></i> Dinheiro
                    </button>
                    <button class="dropdown-item">
                        <i class="fa-regular fa-credit-card"></i> Débito
                    </button>
                    <button class="dropdown-item">
                        <i class="fa-solid fa-credit-card"></i> Crédito
                    </button>
                    <button class="dropdown-item">
                        <i class="fa fa-money-check-dollar"></i> Cheque
                    </button>
                </div>
            </div>
        </div>
    </div>

</form>


<script>
    $(document).ready(function () {
        $('#modalTituloButton').on('click', function () {
            $('#modalPadraoPesquisa').modal('show');
            var url = $(this).data("url");
            var titulo = $(this).data("titulo");
            $('#modalPadraoTitulo').text(titulo);
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    $('#modalPadraoContent').html(data);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });
</script>



{% endblock %}
