{% extends "core/base.html" %}
{% load bootstrap %}
{% load static %}
{% block title %} Venda {% endblock %}

{% block content %}
<form method="post">

    {% csrf_token %}

    <input type="hidden" name="status" value={{form.status.value}}>
    <input type="hidden" name="vendedorId" value={{form.vendedorId.value}}>
    <input type="hidden" name="parcelas_max" value="1">

    <fieldset {% if form.naoPodeSerPedido %} disabled {%endif%}>

        <div class="card">
            <div class="card-header">
                <h4>{{ form.titulo }}</h4>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-12 col-md-2">
                        <label class="control-label">Código</label>
                        <input type="number" name="vendaId" id="vendaId" disabled="disabled" class="form-control"
                            value={{form.vendaId.value}}>
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form.nome|bootstrap }}
                    </div>
                    <div class="col-12 col-md-2">
                        {{ form.fone|bootstrap }}
                    </div>
                    <div class="col-12 col-md-2">
                        <label class="control-label">Vendedor</label>
                        <input type="text" disabled="disabled" class="form-control" value={{form.vendedorNome.value}}
                            title={{form.vendedorNome.value}}>
                    </div>
                </div>

                <h4 class="bg-dark text-white">Itens de Venda</h4>

                <div class="row">
                    <div class="col-12 col-md-2">
                        <label class="control-label">Produto</label>
                        <div class="input-group">
                            <input type="number" id="produtoId" name="produtoId" class="form-control"
                                value={{form.produtoId.value}} {%if form.vendaId%} autofocus {%endif%}>
                            <div class="input-group-btn">
                                <button type="button" id="modalPadraoButton" class="btn btn-dark"
                                    data-titulo="Pesquisa de Produto" data-url="{% url 'url_produto_pesquisa' %}">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form.descricaoItem|bootstrap }}
                    </div>
                    <div class="col-12 col-md-2">
                        {{ form.quantidade|bootstrap }}
                    </div>
                    <div class="col-12 col-md-2">
                        {{ form.preco|bootstrap }}
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Descrição do Item</th>
                                <th>Unidade</th>
                                <th>Quantidade</th>
                                <th>M.Preço</th>
                                <th>Desconto</th>
                                <th>V.Item</th>
                                <th width="90"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in form.items %}
                            <tr>
                                <td>{{item.itemId}}</td>
                                <td>{{item.descricaoItem|default_if_none:""}}</td>
                                <td>{{item.unidade|default_if_none:""}}</td>
                                <td>{{item.quantidade|floatformat:2}}</td>
                                <td>{{item.preco|floatformat:2}}</td>
                                <td>{{item.descontoItem|floatformat:2}}</td>
                                <td>{{item.valorItem|floatformat:2}}</td>
                                <td>
                                    <a href="#" class="editar-item" data-item-id="{{item.itemId}}">
                                        <button type="button" class="btn btn-sm" title="editar"> <i
                                                class="fas fa-edit"></i> </button>
                                    </a>
                                    <a href="{% url 'url_venda_remove_item' form.vendaId.value item.itemId %}">
                                        <button type="button"
                                            onClick='return confirma("EXCLUIR o item: {{item.descricaoItem}} ?")'
                                            class="btn btn-sm" title="excluir"> <i class="fas fa-trash"></i> </button>
                                    </a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6"><span>sem registros</span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% include "core/paginacao.html" %}

                </div>

            </div>

        </div>

        <div class="modal fade" tabindex="-1" role="dialog" id="modalProduto">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Item de Venda</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modalContent"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="submit" value="btn_item_salvar" name="btn_item_salvar" class="btn btn-primary">
                            <i class="fas fa-save"></i> Salvar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="modal fade" tabindex="-1" role="dialog" id="modalResumo">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Sobre a Venda</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modalContent">
    
                        <div class="row">
                            <div class="col-12 col-md-2">
                                {{ form.desconto|bootstrap }}
                            </div>
                            <div class="col-12 col-md-3">
                                {{ form.documento|bootstrap }}
                            </div>
                            <div class="col-12 col-md-5">
                                <label class="control-label">{{form.pagamentoId.field.label}}</label>
                                <select id="pagamentoId" name="pagamentoId" class="form-control" required>
                                    {% for item in form.pagamentoId.field.choices %}
                                    <option value="{{ item.0 }}" {% if item.0 == form.pagamentoId.value %} selected {%endif%}>
                                        {{ item.1 }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-12 col-md-2">
                                {{ form.parcelas|bootstrap }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-12">
                                {{ form.email|bootstrap }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-12">
                                {{ form.observacao|bootstrap }}
                            </div>
                        </div>                    
                    </div>
                    <div class="modal-footer">
    
                        {% if form.status.value == 'ORCAMENTO' %}
                        <button type="submit" value="btn_pedido_salvar" name="btn_pedido_salvar" class="btn btn-success"
                            onClick='return confirma("Definir como pedido de venda?")'>
                            <i class="fas fa-save"></i> Pedido
                        </button>
                        {% endif %}
    
                        {% if form.status.value == 'PEDIDO' %}
                        <button type="submit" value="btn_pedido_finalizar" name="btn_pedido_finalizar" class="btn btn-success"
                            onClick='return confirma("Encerrar este pedido de venda?")'>
                            <i class="fa fa-sign-out" aria-hidden="true"></i> Finalizar Pedido
                        </button>
                        {% endif %}                    
    
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="submit" value="btn_resumo_salvar" name="btn_resumo_salvar" class="btn btn-primary">
                            <i class="fas fa-save"></i> Salvar
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </fieldset>

    <br />

    <div class="footer">
        <button {% if form.naoPodeSerPedido %} disabled {%endif%} type="submit" value="btn_salvar" name="btn_salvar" class="btn btn-primary">
            <i class="fas fa-save"></i> Salvar
        </button>
        <a href="{% url 'url_venda_add' %}">
            <button type="button" class="btn btn-secondary"> <i class="fas fa-plus"></i>
                <span class="d-none d-md-inline">Novo</span>
            </button>
        </a>
        <a href="{% url 'url_venda_list' %}">
            <button type="button" class="btn btn-secondary"> <i class="fas fa-list"></i>
                <span class="d-none d-md-inline">Lista</span>
            </button>
        </a>

        {{form.valorTotal}}

        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalResumo">
            <i class="fas fa-calculator"></i>
        </button>

        {% if form.vendaId.value %}
        <a href="{% url 'url_venda_imprimir' form.vendaId.value %}" target="_blank">
            <button type="button" class="btn btn-secondary"> <i class="fas fa-print"></i> Imprimir </button>
        </a>
        {% endif %}
        
    </div>

</form>

<script>

    $(document).ready(function () {
        $('#id_documento').blur(function () {
            var documento = document.getElementById('id_documento').value;
            var url = '{% url "url_pessoa_docto_get" 0 %}'.replace('0', documento);
            $.ajax({
                url: url,
                type: 'GET',  // Ou 'POST' dependendo da sua necessidade
                success: function (data) {
                    $('#id_email').val(data['email']);
                    // $('#id_quantidade').focus();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });

    $(document).ready(function () {
        $('#pagamentoId').change(function () {
            var pagamentoId = document.getElementById('pagamentoId').value;
            var url = '{% url "url_formapgto_get" 0 %}'.replace('0', pagamentoId);
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    $('#id_parcelas').attr('max', data['parcelas']);
                    $('#id_parcelas').val(data['parcelas']);
                },
                error: function (xhr, status, error) {
                    // Lidar com erros, se houver
                    console.log(error);
                }
            });
        });
    });

    $(document).ready(function () {
        $('.editar-item').click(function (e) {
            $('#modalProduto').modal('show');
            e.preventDefault();
            var item_id = $(this).data('item-id');
            var url = '{% url "url_vendaitem_edit" 0 %}'.replace('0', item_id);
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    $('#modalContent').html(data);
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        });
    });

    $(document).ready(function () {
        $('#produtoId').blur(function () {
            var produtoId = document.getElementById('produtoId').value;
            var url = '{% url "url_produto_get" 0 %}'.replace('0', produtoId);
            $.ajax({
                url: url,
                type: 'GET',  
                success: function (data) {
                    $('#id_descricaoItem').val(data['descricao']);
                    $('#id_ncm').val(data['ncm']);
                    $('#id_unidade').val(data['unidade']);
                    $('#id_preco').val(data['precoVenda']);
                    $('#id_quantidade').focus();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });

    $(document).ready(function () {
        $('#modalPadraoButton').on('click', function () {
            $('#modalPadraoPesquisa').modal('show');
            var url = $(this).data("url");
            var titulo = $(this).data("titulo");
            $('#modalPadraoTitulo').text(titulo);
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    $('#modalPadraoContent').html(data);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });

</script>

{% endblock %}