{% extends "core/base.html" %}
{% load bootstrap %}
{% load static %}
{% block title %} Venda {% endblock %}

{% block content %}
<form method="post">

    {% csrf_token %}

    <input type="hidden" name="vendedorId" value={{form.vendedorId.value}}>

    <fieldset>

        <div class="card">
            <div class="card-header">
                <h3>Vendas</h3>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-12 col-md-2">
                        <label class="control-label">Código</label>
                        <input type="number" name="vendaId" id="vendaId" disabled="disabled" class="form-control"
                            value={{ form.vendaId.value }}>
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form.nome|bootstrap }}
                    </div>
                    <div class="col-12 col-md-2">
                        {{ form.fone|bootstrap }}
                    </div>
                    <div class="col-12 col-md-2">
                        {{ form.vendedorNome|bootstrap }}
                    </div>                    
                </div>
                <div class="row" hidden="true">
                    <div class="col-12 col-md-12">
                        {{ form.email|bootstrap }}
                    </div>                    
                </div>

                <h4 class="bg-dark text-white">Itens de Venda</h4>                

                <div class="row">
                    <div class="col-12 col-md-2">
                        <label class="control-label">Produto</label>
                        <div class="input-group">
                            <input type="number" id="produtoId" name="produtoId" class="form-control" value={{form.produtoId.value}}>
                            <div class="input-group-btn">
                                <button type="button" id="modalPadraoButton" class="btn btn-dark"
                                    data-titulo="Pesquisa de Produto" data-url="{% url 'url_produto_pesquisa' %}">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form.descricaoItem|bootstrap }}
                    </div>
                    <div class="col-12 col-md-2">
                        {{ form.quantidade|bootstrap }}
                    </div>
                    <div class="col-12 col-md-2">
                        {{ form.preco|bootstrap }}
                    </div>                    
                </div>                
 
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Descrição do Item</th>
                                <th>NCM</th>
                                <th>Unidade</th>
                                <th>Quantidade</th>
                                <th>M.Preço</th>
                                <th width="90"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in form.items %}
                            <tr>
                                <td>{{item.cotacaoItemId}}</td>
                                <td>{{item.descricaoItem|default_if_none:""}}</td>
                                <td>{{item.ncm|default_if_none:""}}</td>
                                <td>{{item.unidade|default_if_none:""}}</td>
                                <td>{{item.quantidade|floatformat:2}}</td>
                                <td>{{item.menorPreco|floatformat:2}}</td>
                                <td>{{item.menorCusto|floatformat:2}}</td>
                                <td>
                                    <a href="#" class="editar-item" data-item-id="{{item.cotacaoItemId}}">
                                        <button type="button" class="btn btn-sm" title="editar"> <i
                                                class="fas fa-edit"></i> </button>
                                    </a>
                                    <a
                                        href="{% url 'url_cotacao_remove_item' form.cotacaoId.value item.cotacaoItemId %}">
                                        <button type="button"
                                            onClick='return confirma("EXCLUIR o item: {{item.descricaoItem}} ?")'
                                            class="btn btn-sm" title="excluir"> <i class="fas fa-trash"></i> </button>
                                    </a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6"><span>sem registros</span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% include "core/paginacao.html" %}

                </div>

            </div>

        </div>
    </fieldset>

    <br />

    <div class="footer">
        <button type="submit" value="btn_salvar" name="btn_salvar" class="btn btn-primary">
            <i class="fas fa-save"></i> Salvar
        </button>
    </div>

</form>

<script>
    $(document).ready(function () {
        $('#produtoId').blur(function () {
            var produtoId = document.getElementById('produtoId').value;
            var url = '{% url "url_produto_get" 0 %}'.replace('0', produtoId);
            $.ajax({
                url: url,
                type: 'GET',  // Ou 'POST' dependendo da sua necessidade
                success: function (data) {
                    $('#id_descricaoItem').val(data['descricao']);
                    $('#id_ncm').val(data['ncm']);
                    $('#id_unidade').val(data['unidade']);
                    $('#id_preco').val(data['precoVenda']);
                    $('#id_quantidade').focus();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });

    $(document).ready(function () {
        $('#modalPadraoButton').on('click', function () {
            $('#modalPadraoPesquisa').modal('show');
            var url = $(this).data("url");
            var titulo = $(this).data("titulo");
            $('#modalPadraoTitulo').text(titulo);
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    $('#modalPadraoContent').html(data);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });    
</script>

{% endblock %}