{% load bootstrap %}

<input type="hidden" name="itemId" value={{form.itemId.value}}>
<input type="hidden" name="produtoItemId" value={{form.produtoId.value}}>

<div class="container">

    <div class="row">
        <div class="col-12 col-md-10">
            {{ form.descricaoItem|bootstrap }}
        </div>
        <div class="col-12 col-md-2">
            {{ form.unidade|bootstrap }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">
            <label>{{form.quantidade.label}}</label>
            <input type="number" id="quantidadeItem" name="quantidadeItem" class="form-control"
                value="{{form.quantidade.value}}" min="1">
        </div>
        <div class="col-12 col-md-3">
            <label>{{form.descontoItem.label}}</label>
            <input type="number" id="descontoItem" name="descontoItem" class="form-control"
                value="{{form.descontoItem.value}}" min="0" max="{{form.preco.value}}" >
        </div>
        <div class="col-12 col-md-3">
            <label>{{form.preco.label}}</label>
            <input type="number" id="precoItem" name="precoItem" class="form-control" value="{{form.preco.value}}"
                disabled>
        </div>
        <div class="col-12 col-md-3">
            <label>{{form.valorItem.label}}</label>
            <input type="number" id="valorItem" name="valorItem" class="form-control" value="{{form.valorItem.value}}"
                disabled>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {

        $('#quantidadeItem, #precoItem, #descontoItem').change(function () {
            var quantidade = parseFloat($('#quantidadeItem').val()) || 0;
            var preco = parseFloat($('#precoItem').val()) || 0;
            var desconto = parseFloat($('#descontoItem').val()) || 0;
            var valorItem = quantidade * (preco - desconto);
            $('#valorItem').val(valorItem.toFixed(2)); // Define o valorItem no campo de input
        });

    });

</script>