{% extends "core/base.html" %}
{% load bootstrap %}
{% load static %}
{% block title %} Título {% endblock %}

{% block content %}

<form method="post">

    {% csrf_token %}

    <div class="card">
        <div class="card-header">
            <h3>Título (pagar/receber)</h3>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col">
                    {{ form.descricao|bootstrap }}
                </div>
                <div class="col-auto mb-3 d-flex align-items-end">
                    <button type="submit" value="btn_listar" name="btn_listar" class="btn btn-primary">
                        <i class="fas fa-search"></i> Listar
                    </button>
                    <a href="{% url 'url_titulo_add' %}">
                        <button type="button" class="btn ml-2"> <i class="fa fa-plus"></i></button>
                    </a>
                    <a href="{% url 'url_titulo_list' %}" title="limpar">
                        <button type="button" class="btn ml-2"> <i class="fas fa-eraser"></i></button>
                    </a>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>Participante</th>
                        <th>Histórico</th>
                        <th>Portador</th>
                        <th>Vencimento</th>
                        <th>Valor</th>
                        <th>Saldo</th>
                        <th width="90"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in page.object_list %}
                    <tr>
                        <td>{{ item.participante|default_if_none:"" }}</td>
                        <td>
                            <label title="{{item.historico|default_if_none:""}}">{{item.historico|default_if_none:""}}</label>
                        </td>
                        <td>{{ item.portador|default_if_none:"" }}</td>
                        <td>{{ item.vencimento }}</td>
                        <td>{{ item.valor }}</td>
                        <td>{{ item.saldo }}</td>
                        <td>
                            <a href="{% url 'url_titulo_edit' uuid=item.tituloId %}">
                                <button type="button" class="btn btn-sm" title="editar"> <i class="fas fa-edit"></i> </button>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4"><span>sem registros</span></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% include "core/paginacao.html" %}

            </div>

        </div>        

    </div>

</form>
{% endblock %}