{% extends "core/base.html" %}
{% load bootstrap %}
{% load static %}
{% block title %} Estoque {% endblock %}

{% block content %}
<form method="post">

    {% csrf_token %}

    <input type="hidden" id="produtoId" name="produtoId" value={{ form.produtoId.value }}>

    <div class="card">
        <div class="card-header">
            <h3>Movimentação de Produto</h3>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-12 col-md-3">
                    {{ form.produtoId|bootstrap }}
                </div>
                <div class="col-12 col-md-6">

                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-9">
                    {{ form.descricao|bootstrap }}
                </div>
                <div class="col-12 col-md-3">
                    {{ form.estoque|bootstrap }}
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-2">
                    {{ form.documento|bootstrap }}
                </div>
                <div class="col-12 col-md-7">
                    {{ form.historico|bootstrap }}
                </div>
                <div class="col-12 col-md-3">
                    {{ form.quantidade|bootstrap }}
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-3">
                    <label>{{ form.tipo.label }}</label>
                    <select name="tipo" id="tipo" class="form-control"
                            onchange="selecionaTipoChange(this)">
                        {% for choice in form.tipo.field.choices %}
                        <option value="{{ choice.0 }}" {% if choice.0 == tipo_selected %} selected {% endif %}>
                            {{ choice.1 }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-12 col-md-9">
                    {{ form.centroDistribuicaoId|bootstrap }}
                </div>
            </div>

            <div id="destino" class="row">
                <div class="col-12 col-md-3"></div>
                <div class="col-12 col-md-9">
                    {{ form.centroDistribuicaoDestinoId|bootstrap }}
                </div>
            </div>
        </div>
    </div>

    <div class="footer bg-red">
        <button type="submit" value="btn_salvar" name="btn_salvar" class="btn btn-primary" title="salvar movimentação">
            <i class="fas fa-save"></i> Salvar
        </button>
        <a href="{% url 'url_produto_estoque' form.produtoId.value %}" title="nova movimentaçaõ do estoque">
            <button type="button" class="btn btn-secondary"> <i class="fas fa-plus"></i> Novo </button>
        </a>
        <a href="{% url 'url_produto_edit' form.produtoId.value %}" title="retorna para o cadastro do produto">
            <button type="button" class="btn btn-secondary"> <i class="fas fa-reply"></i> Produto </button>
        </a>
        <button type="button" id="openModalButton" class="btn btn-secondary" title="mostra a distribuição do estoque">
            <i class="fas fa-cubes"></i> Detalhe
        </button>

    </div>

</form>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title">Detalhe do Estoque</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" id="modalContent"></div>
    </div>
    </div>
</div>

<script>

    document.addEventListener('DOMContentLoaded', function() {
        var sel = document.getElementById('tipo');
        selecionaTipoChange(sel);
    });

    function selecionaTipoChange(sel) {
        var element_fisica = document.getElementById('destino');
        element_fisica.style.display = sel.value == 'TRANSFERENCIA' ? 'flex' : 'none';
    }

    $(document).ready(function() {
        $('#openModalButton').on('click', function() {
            $('#myModal').modal('show');
            var produtoId = document.getElementById('produtoId').value;
            var url = '{% url "url_produto_estoque_detalhe" 0 %}'.replace('0', produtoId);
            // Use AJAX para carregar o conteúdo da URL
            $.ajax({
                type: 'GET',
                url: url,
                success: function(data) {
                    $('#modalContent').html(data);
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });

</script>

{% endblock %}