{% extends "core/base.html" %}
{% load bootstrap %}
{% load static %}
{% block title %} Estoque {% endblock %}

{% block content %}
<div class="container">
    <form method="post">

        {% csrf_token %}

        <input type="hidden" name="produtoId" value={{ form.produtoId.value }}>

        <div class="card">
            <div class="card-header">
                <h3>Movimentação de Produto</h3>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-12 col-md-3">
                        {{ form.produtoId|bootstrap }}
                    </div>
                    <div class="col-12 col-md-6">

                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-9">
                        {{ form.descricao|bootstrap }}
                    </div>
                    <div class="col-12 col-md-3">
                        {{ form.estoque|bootstrap }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-2">
                        {{ form.documento|bootstrap }}
                    </div>
                    <div class="col-12 col-md-7">
                        {{ form.historico|bootstrap }}
                    </div>
                    <div class="col-12 col-md-3">
                        {{ form.quantidade|bootstrap }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-3">
                        <label>{{ form.tipo.label }}</label>
                        <select name="tipo" id="tipo" class="form-control"
                                onchange="selecionaTipoChange(this)">
                            {% for choice in form.tipo.field.choices %}
                            <option value="{{ choice.0 }}" {% if choice.0 == tipo_selected %} selected {% endif %}>
                                {{ choice.1 }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12 col-md-9">
                        {{ form.centroDistribuicaoId|bootstrap }}
                    </div>
                </div>

                <div id="destino" class="row">
                    <div class="col-12 col-md-3"></div>
                    <div class="col-12 col-md-9">
                        {{ form.centroDistribuicaoDestinoId|bootstrap }}
                    </div>
                </div>
            </div>
        </div>

        <div class="footer bg-red">
            <button type="submit" value="btn_salvar" name="btn_salvar" class="btn btn-primary">
                <i class="fas fa-save"></i> Salvar
            </button>
            <a href="{% url 'url_produto_add' %}">
                <button type="button" class="btn"> <i class="fas fa-plus"></i> Novo </button>
            </a>
            <a href="{% url 'url_produto_list' %}">
                <button type="button" class="btn"> <i class="fas fa-list"></i> Lista </button>
            </a>
        </div>

    </form>
</div>

<script>

    document.addEventListener('DOMContentLoaded', function() {
        var sel = document.getElementById('tipo');
        selecionaTipoChange(sel);
    });

    function selecionaTipoChange(sel) {
        var element_fisica = document.getElementById('destino');
        element_fisica.style.display = sel.value == 'TRANSFERENCIA' ? 'flex' : 'none';
    }

</script>


{% endblock %}